
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Gimme Money</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="causes">See why people want money</a></li>
      <li><a routerLink="causes/new">Make a thing so you can get money</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>
      Welcome to Gimme Money!
    </h1>
    <h3>
      The only crowd funding site that's honest
    </h3>
  </div>
  <router-outlet></router-outlet>
</div>
